.content-img {
  width: 50%;
  height: 100%;
  border: solid 1px black;
  background-image: url('../../assets/img/pixasquare-4ojhpgKpS68-unsplash.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}
